*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 2.0rem;
}

.logo-img{
    max-width: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;

}                           

.insidenav a{
    color: white;
    padding-right: 8vh;
    margin-left : 7vh;
}

.insidenav{
    display: flex;
    align-items: center;
}
/* .nav{
    display: flex;
} */


.divi{
    width: 1px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: hsla(45, 31%, 90%, .3);
}

.one{
    background-image: url('./img/one.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the viewport height */
    width: 100%;

}

.h{
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-top: 28vh;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8vw 75px 9vw 25rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

.about-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10rem;
    padding-right: 29rem;
}
