-webkit-text-size-adjust: 100%;
font-family: Gotham, sans-serif;
color: #333;
font-size: 14px;
line-height: 20px;
font-weight: 300;
box-sizing: border-box;
display: flex;
overflow: scroll;
padding: 130px 4vw 140px;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
-webkit-box-align: center;
align-items: center;
align-content: stretch;
background-image: linear-gradient(180deg, hsla(0, 0%, 7%, .43), hsla(0, 0%, 7%, .43)), url("https://uploads-ssl.webflow.com/5a99000b56512700019dcdfd/5b88b923b9deca4b99544962_blackfelt_Pattern_Web.jpg");
background-position: 0px 0px, 50% 50%;
background-size: auto, 230px;
background-repeat: repeat, repeat;



<section id="menu" class="menu-section">
            <div class="menu-container-div">
                <div class="stretch-box-div stretch">
                    <div class="menu-div">
                        <h2 class="menu-heading">
                            <span class="text-span-2">
                                <strong class="w-hidden-tiny">WHAT &#x27;S </strong>
                                on the Menu
                            </span>
                        </h2>
                        <div class="menu-container w-container">
                            <div class="menu-row w-row">
                                <div class="column-6 w-col w-col-9">
                                    <div class="menu-group">
                                        <div class="menu-item">Po Boy</div>
                                        <div class="menu-item description">Tomato, Lettuce, Pickles, Mayo</div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Chick N Cheese Burger</div>
                                        <div class="menu-item description">Pickles, Mayo, Lettuce, Cheese</div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Halloumi Burger</div>
                                        <div class="menu-item description">
                                            Lettuce, BBQ, Tomato, Pickles, <br/>Mayo
                                        </div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Island Bird Burger</div>
                                        <div class="menu-item description">Buttermilk Fried Chicken Coconut Chilli Mayo, Pineapple, Lettuce, American Cheddar</div>
                                    </div>
                                </div>
                                <div class="column-8 w-col w-col-3">
                                    <div class="menu-item price">$ 11.5</div>
                                    <div class="menu-item price adjust2">$ 12.5</div>
                                    <div class="menu-item price adjust adjust3">$ 12</div>
                                    <div class="menu-item price">$ 12.5</div>
                                </div>
                            </div>
                            <div class="menu-row adjust w-row">
                                <div class="column-6 adjust w-col w-col-9">
                                    <div class="menu-group">
                                        <div class="menu-item">Loaded Tots</div>
                                        <div class="menu-item description adjust">With Melted Cheddar, Crispy Onion, Garlic Aoli &amp;Parmesan</div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Tater Tots</div>
                                        <div class="menu-item description">Cajun Seasoned</div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Cauli Bites</div>
                                        <div class="menu-item description">With Ranch</div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Chicken</div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Drinks</div>
                                    </div>
                                    <div class="menu-group">
                                        <div class="menu-item">Meal</div>
                                    </div>
                                </div>
                                <div class="column-7 w-col w-col-3">
                                    <div class="menu-item price adjust4">$ 9</div>
                                    <div class="menu-item price">$ 6</div>
                                    <div class="menu-item price adjust">$ 10</div>
                                    <div class="menu-item price no-description">$ 12</div>
                                    <div class="menu-item price no-description">$ 3</div>
                                    <div class="menu-item price no-description">$ 7</div>
                                </div>
                            </div>
                        </div>
                        <div class="div-block-8"></div>
                    </div>
                </div>
                <div class="stretch-box-div food">
                    <div class="menu-image"></div>
                    <div class="menu-image img2"></div>
                    <div class="menu-image img3 adjust"></div>
                </div>
            </div>
        </section>